.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .content-table{
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .content-table thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
  }

  .content-table th,
  .content-table td{
    padding: 12px 15px;
  }

  .content-table tbody tr{
    border-bottom: 1px solid #dddddd;
  }

  .content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
  }

  .content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
  }

  .content-table tbody tr.active-row{
    font-weight: bold;
    color: #009879;
  }