

body{
	color: #195393;
}
h1{
	font-size: 50px;
}


.form{
	
}
.legend{
    border-style: solid;
    border-radius: 10px;
    border-color: #195393;
}
.text-Fname{
	
	font-size: 15px;
    border-radius: 4px;
    border-color: #102544;
}

.fieldset{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}
.button-1 {
    border-radius: 4px;
    /* background-color: #195393; */
	background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 6px;;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
}

.button-1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-1:hover span {
    padding-right: 25px;
}

.button-1:hover {
	text-decoration: none;
	color: white;
}
.button-1:hover span:after {
    opacity: 7;
    right: 0;
}


.text{
	font-size: 25px;
    -webkit-text-fill-color: black;
    font-family: Helvetica;
}